@import url(https://fonts.googleapis.com/css?family=Fredoka+One:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Questrial:400&display=swap);





.card__btn .btn {
  border-radius: 50px !important;
}
body {
  font-family: DM Sans;
}
.display-1 {
  font-family: 'Fredoka One', display;
  font-size: 3rem;
  line-height: 86px;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Questrial', sans-serif;
  font-size: 2rem;
  line-height: 70px;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 26px;
}
.display-4 > .mbr-iconfont {
  font-size: 0.8rem;
}
.display-5 {
  font-family: 'Questrial', sans-serif;
  font-size: 1.8rem;
  line-height: 52px;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
  line-height: 32px;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn-md.display-4 {
  font-size: 0.925rem;
}
.btn-lg.display-7 {
  font-size: 0.875rem;
}
.btn {
  padding: 0 30px;
  border-radius: 0;
}
.btn-sm {
  padding: 0 15px;
  border-radius: 0;
}
.btn-md {
  padding: 0 25px;
  border-radius: 0;
}
.btn-lg {
  padding: 0 40px;
  border-radius: 0;
}
.bg-primary {
  background-color: #fb7522 !important;
}
.bg-success {
  background-color: #2ecc71 !important;
}
.bg-info {
  background-color: #482be7 !important;
}
.bg-warning {
  background-color: #919dab !important;
}
.bg-danger {
  background-color: #8b5214 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #fb7522 !important;
  border-color: #fb7522 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #fb7522;
  border-color: #fb7522;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #fb7522 !important;
  border-color: #fb7522 !important;
}
.btn-primary:hover {
  background-color: #e65a04 !important;
  border-color: #e65a04 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #7fa8d7 !important;
  border-color: #7fa8d7 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #7fa8d7;
  border-color: #7fa8d7;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #7fa8d7 !important;
  border-color: #7fa8d7 !important;
}
.btn-secondary:hover {
  background-color: #588ecb !important;
  border-color: #588ecb !important;
}
.btn-info,
.btn-info:active {
  background-color: #482be7 !important;
  border-color: #482be7 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #482be7;
  border-color: #482be7;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #482be7 !important;
  border-color: #482be7 !important;
}
.btn-info:hover {
  background-color: #3217c8 !important;
  border-color: #3217c8 !important;
}
.btn-success,
.btn-success:active {
  background-color: #2ecc71 !important;
  border-color: #2ecc71 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2ecc71;
  border-color: #2ecc71;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2ecc71 !important;
  border-color: #2ecc71 !important;
}
.btn-success:hover {
  background-color: #25a25a !important;
  border-color: #25a25a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #919dab !important;
  border-color: #919dab !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #919dab;
  border-color: #919dab;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #919dab !important;
  border-color: #919dab !important;
}
.btn-warning:hover {
  background-color: #748395 !important;
  border-color: #748395 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #8b5214 !important;
  border-color: #8b5214 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b5214;
  border-color: #8b5214;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b5214 !important;
  border-color: #8b5214 !important;
}
.btn-danger:hover {
  background-color: #5e380e !important;
  border-color: #5e380e !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white.btn {
  color: #1e0e62 !important;
}
.btn-white:active,
.btn-white:focus {
  color: #1e0e62 !important;
}
.btn-white:hover {
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  color: #1e0e62 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:hover {
  background-color: #4d4d4d !important;
  border-color: #4d4d4d !important;
}
.btn-primary-outline {
  border: 2px solid;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #fb7522;
  color: #fb7522;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff !important;
  background: #fb7522 !important;
  border-color: #fb7522;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #fb7522 !important;
  border-color: #fb7522 !important;
}
.btn-secondary-outline {
  border: 2px solid;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #7fa8d7;
  color: #7fa8d7;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff !important;
  background: #7fa8d7 !important;
  border-color: #7fa8d7;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #7fa8d7 !important;
  border-color: #7fa8d7 !important;
}
.btn-info-outline {
  border: 2px solid;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #482be7;
  color: #482be7;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff !important;
  background: #482be7 !important;
  border-color: #482be7;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #482be7 !important;
  border-color: #482be7 !important;
}
.btn-success-outline {
  border: 2px solid;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #2ecc71;
  color: #2ecc71;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff !important;
  background: #2ecc71 !important;
  border-color: #2ecc71;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #2ecc71 !important;
  border-color: #2ecc71 !important;
}
.btn-warning-outline {
  border: 2px solid;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #919dab;
  color: #919dab;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff !important;
  background: #919dab !important;
  border-color: #919dab;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #919dab !important;
  border-color: #919dab !important;
}
.btn-warning-outline.btn {
  color: #202020 !important;
  border-color: #ebeaed !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:active,
.btn-warning-outline:focus {
  background-color: transparent !important;
  border-color: #919dab !important;
}
.btn-danger-outline {
  border: 2px solid;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #8b5214;
  color: #8b5214;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff !important;
  background: #8b5214 !important;
  border-color: #8b5214;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #8b5214 !important;
  border-color: #8b5214 !important;
}
.btn-black-outline {
  border: 2px solid;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff !important;
  background: #333333 !important;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline {
  border: 2px solid;
}
.btn-white-outline,
.btn-white-outline:active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #808080 !important;
  background: #ffffff !important;
  border-color: #ffffff;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.text-primary {
  color: #fb7522 !important;
}
.text-secondary {
  color: #7fa8d7 !important;
}
.text-success {
  color: #2ecc71 !important;
}
.text-info {
  color: #482be7 !important;
}
.text-warning {
  color: #919dab !important;
}
.text-danger {
  color: #8b5214 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #b44703 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #3974b7 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #1b7943 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #27119b !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #5d6a79 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #321d07 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #2ecc71;
}
.alert-info {
  background-color: #482be7;
}
.alert-warning {
  background-color: #919dab;
}
.alert-danger {
  background-color: #8b5214;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 50px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-gallery-filter li a {
  border-radius: 50px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #fb7522;
  border-color: #fb7522;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 50px !important;
}
a,
a:hover {
  color: #fb7522;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fff2ea;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d1f5e0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #e6e2fc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #d9dde2;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e3933c;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
  line-height: 32px;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #fb7522;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 50px !important;
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 50px !important;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #fb7522;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #fb7522;
  border-bottom-color: #fb7522;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #fb7522 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #7fa8d7 !important;
  box-shadow: none !important;
}
.sidebar-block .mbr-gallery-item .galleryItem .onsale {
  top: 0px;
}
.sidebar-block .mbr-gallery-item .galleryItem .sidebar_wraper {
  bottom: -35px;
  margin-left: 1rem;
}
.cid-siCUI6HXTj .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  color: #8b5214;
  top: 50%;
  font-size: 1rem;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: translateY(-50%) scale(0, 1);
  transform: translateY(-50%) scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-siCUI6HXTj .navbar-buttons {
  flex-wrap: wrap;
}
.cid-siCUI6HXTj .nav-item,
.cid-siCUI6HXTj .nav-link,
.cid-siCUI6HXTj .navbar-caption {
  font-weight: normal;
}
.cid-siCUI6HXTj .nav-item:focus,
.cid-siCUI6HXTj .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-siCUI6HXTj .dropdown-item:hover:before {
    -webkit-transform: translateY(-50%) scale(1, 1);
    transform: translateY(-50%) scale(1, 1);
    width: 1rem;
  }
  .cid-siCUI6HXTj .nav-item .nav-link {
    position: relative;
  }
  .cid-siCUI6HXTj .nav-item .nav-link:before {
    content: '';
    position: absolute;
    z-index: 3;
    left: 0;
    right: 100%;
    bottom: -0.2em;
    background: #8b5214;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .cid-siCUI6HXTj .nav-item:hover .nav-link:before,
  .cid-siCUI6HXTj .nav-item.open .nav-link:before {
    right: 0;
  }
}
.cid-siCUI6HXTj .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.cid-siCUI6HXTj .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-siCUI6HXTj .dropdown .dropdown-menu .dropdown-item:hover {
  padding-right: 1rem;
  padding-left: 3rem;
}
.cid-siCUI6HXTj .dropdown .dropdown-menu .dropdown-item:hover .soc-item .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-siCUI6HXTj .dropdown .dropdown-menu .dropdown-item .soc-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-siCUI6HXTj .dropdown .dropdown-menu .dropdown-item .soc-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-siCUI6HXTj .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #ffffff;
  background: none;
}
.cid-siCUI6HXTj .navbar.opened {
  transition: all 0.3s;
  background: #ffffff !important;
}
.cid-siCUI6HXTj .navbar .dropdown-item {
  padding: 0.235rem 2rem;
}
.cid-siCUI6HXTj .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
@media (max-width: 991px) {
  .cid-siCUI6HXTj .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-siCUI6HXTj .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-siCUI6HXTj .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-siCUI6HXTj .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-siCUI6HXTj .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-siCUI6HXTj .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-siCUI6HXTj .navbar .navbar-logo img {
    height: 3.8rem !important;
    width: auto;
  }
  .cid-siCUI6HXTj .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-siCUI6HXTj .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-siCUI6HXTj .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-siCUI6HXTj .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-siCUI6HXTj .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-siCUI6HXTj .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-siCUI6HXTj .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
  width: auto;
}
.cid-siCUI6HXTj .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-siCUI6HXTj .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-siCUI6HXTj .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-siCUI6HXTj .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-siCUI6HXTj .navbar-brand .navbar-logo a img {
  width: auto;
}
.cid-siCUI6HXTj .dropdown-item.active,
.cid-siCUI6HXTj .dropdown-item:active {
  background-color: transparent;
}
.cid-siCUI6HXTj .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-siCUI6HXTj .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-siCUI6HXTj .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-siCUI6HXTj .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
  z-index: 2;
}
.cid-siCUI6HXTj .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-siCUI6HXTj .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-siCUI6HXTj ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-siCUI6HXTj .navbar-buttons {
  text-align: center;
}
.cid-siCUI6HXTj button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-siCUI6HXTj button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-siCUI6HXTj button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-siCUI6HXTj button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-siCUI6HXTj button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-siCUI6HXTj button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-siCUI6HXTj nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-siCUI6HXTj nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-siCUI6HXTj nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-siCUI6HXTj nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-siCUI6HXTj .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-siCUI6HXTj a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-siCUI6HXTj .soc-item .mbr-iconfont {
  font-size: 1rem;
  color: #7fa8d7;
  display: inline-flex;
}
.cid-siCUI6HXTj .soc-item .mbr-iconfont:before {
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-siCUI6HXTj .soc-item {
  margin: 0.5rem 0.3rem;
}
.cid-siCUI6HXTj .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-siCUI6HXTj a.nav-link .mbr-iconfont-btn,
.cid-siCUI6HXTj a.dropdown-item .mbr-iconfont-btn {
  margin-right: 10px;
}
.cid-siCUI6HXTj a.nav-link:hover .mbr-iconfont-btn,
.cid-siCUI6HXTj a.dropdown-item:hover .mbr-iconfont-btn {
  opacity: 0;
  margin-left: -20px;
}
.cid-siCUI6HXTj a.dropdown-item .mbr-iconfont-btn {
  margin-top: -4px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-siCUI6HXTj .navbar {
    height: 77px;
  }
  .cid-siCUI6HXTj .navbar.opened {
    height: auto;
  }
  .cid-siCUI6HXTj .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s3EKHbTOqq {
  padding-top: 60px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/mbr-1920x1158.jpg");
}
.cid-s3EKHbTOqq .mbr-arrow {
  background: #232323 !important;
  opacity: .7;
}
.cid-s3EKHbTOqq .mbr-arrow i {
  color: #ffffff !important;
}
.cid-s3EKHbTOqq .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-s3EKHbTOqq .animated-element,
.cid-s3EKHbTOqq .typed-cursor {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-s3EKHbTOqq .typed-text {
    text-align: center;
  }
}
.cid-s3EKHbTOqq .mbr-section-title {
  text-align: center;
}
.cid-s3EKHbTOqq .mbr-text,
.cid-s3EKHbTOqq .typed-text,
.cid-s3EKHbTOqq .mbr-section-btn {
  text-align: center;
}
.cid-siEs5BRsLg {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-siEs5BRsLg .mbr-section-title,
.cid-siEs5BRsLg .mbr-section-subtitle {
  color: #000000;
}
.cid-siEs5BRsLg .mbr-section-text {
  color: #232323;
}
.cid-siEs5BRsLg .mbr-text,
.cid-siEs5BRsLg .typed-text,
.cid-siEs5BRsLg .mbr-section-text {
  letter-spacing: 0.03rem;
}
.cid-siEs5BRsLg .btn {
  margin-left: 4px !important;
}
.cid-siEs5BRsLg .animated-element {
  color: #ff3366;
}
.cid-siEs5BRsLg .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #ff3366;
}
.cid-siEs5BRsLg .mbr-figure {
  border-radius: .25rem;
  overflow: hidden;
}
@media (max-width: 767px) {
  .cid-siEs5BRsLg .typed-text,
  .cid-siEs5BRsLg .mbr-section-subtitle,
  .cid-siEs5BRsLg .mbr-section-text,
  .cid-siEs5BRsLg .mbr-section-btn {
    text-align: center !important;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cid-siEs5BRsLg .mbr-section-subtitle,
.cid-siEs5BRsLg .typed-text {
  color: #000000;
}
#custom-html-1g {
  /* Type valid CSS here */
}
#custom-html-1g div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-1g p {
  font-size: 60px;
  color: #777;
}
.cid-rZLE9pr74T {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rZLE9pr74T .mbr-iconfont {
  font-size: 50px;
  transition: color .3s;
  padding: 1.5rem;
}
.cid-rZLE9pr74T .mbr-section-title {
  margin: 0;
}
.cid-rZLE9pr74T .mbr-section-subtitle {
  color: #000000;
}
.cid-rZLE9pr74T .card-img span {
  color: #ffffff;
}
.cid-rZLE9pr74T .row-item {
  margin-bottom: 2rem;
}
.cid-rZLE9pr74T .row-item:hover .wrapper {
  background: linear-gradient(90deg, #363636, #363636);
  cursor: pointer;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  transition: all 0.3s;
}
.cid-rZLE9pr74T .row-item:hover .card-img span {
  color: #ffffff !important;
}
.cid-rZLE9pr74T .row-item:hover .mbr-card-title {
  color: #ffffff !important;
}
.cid-rZLE9pr74T .wrapper {
  padding: 2.5rem 1rem;
  background: #131313;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
.cid-rZLE9pr74T .mbr-card-title,
.cid-rZLE9pr74T .card-img {
  color: #ffffff;
}
.cid-siEuyzoi0O {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-siEuyzoi0O .mbr-text {
  position: relative;
}
.cid-siEuyzoi0O .mbr-text:before {
  color: #333333;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
  position: absolute;
  top: 10px;
  left: -2rem;
}
.cid-siEuyzoi0O .mbr-text:after {
  color: #333333;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.45em;
  position: absolute;
  bottom: 10px;
  right: -2rem;
}
@media (max-width: 767px) {
  .cid-siEuyzoi0O .mbr-text:after,
  .cid-siEuyzoi0O .mbr-text:before {
    display: none;
  }
}
.cid-s0PNLsdUSm {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-s0PNLsdUSm .social-media {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 4rem;
}
.cid-s0PNLsdUSm .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-s0PNLsdUSm .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-s0PNLsdUSm .logo-section {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 4rem;
}
.cid-s0PNLsdUSm .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.8rem;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  background-color: #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-s0PNLsdUSm .icon-transition span:hover {
  background-color: #606060;
}
.cid-s0PNLsdUSm .mbr-text {
  color: #767676;
}
@media (max-width: 991px) {
  .cid-s0PNLsdUSm .social-media {
    -webkit-justify-content: center;
    justify-content: center;
    padding-right: 15px;
  }
  .cid-s0PNLsdUSm .logo-section {
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 15px;
    margin-bottom: 1.5rem;
  }
  .cid-s0PNLsdUSm .mbr-text {
    margin-bottom: 1.5rem;
  }
}
.cid-s3EEE1TDCT {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s3EEE1TDCT .mbr-text {
  position: relative;
}
.cid-s3EEE1TDCT .mbr-text:before {
  color: #ffffff;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
  position: absolute;
  top: 10px;
  left: -2rem;
}
.cid-s3EEE1TDCT .mbr-text:after {
  color: #ffffff;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.45em;
  position: absolute;
  bottom: 10px;
  right: -2rem;
}
@media (max-width: 767px) {
  .cid-s3EEE1TDCT .mbr-text:after,
  .cid-s3EEE1TDCT .mbr-text:before {
    display: none;
  }
}
.cid-s3EEE1TDCT .mbr-section-title,
.cid-s3EEE1TDCT .logo {
  color: #d35400;
}
#custom-html-f {
  /* Type valid CSS here */
}
#custom-html-f div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-f p {
  font-size: 60px;
  color: #777;
}
.cid-s0VxdKfajA {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-s0VxdKfajA .mbr-text {
  position: relative;
}
.cid-s0VxdKfajA .mbr-text:before {
  color: #333333;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
  position: absolute;
  top: 10px;
  left: -2rem;
}
.cid-s0VxdKfajA .mbr-text:after {
  color: #333333;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.45em;
  position: absolute;
  bottom: 10px;
  right: -2rem;
}
@media (max-width: 767px) {
  .cid-s0VxdKfajA .mbr-text:after,
  .cid-s0VxdKfajA .mbr-text:before {
    display: none;
  }
}
.cid-s0PNLsdUSm {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-s0PNLsdUSm .social-media {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 4rem;
}
.cid-s0PNLsdUSm .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-s0PNLsdUSm .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-s0PNLsdUSm .logo-section {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 4rem;
}
.cid-s0PNLsdUSm .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.8rem;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  background-color: #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-s0PNLsdUSm .icon-transition span:hover {
  background-color: #606060;
}
.cid-s0PNLsdUSm .mbr-text {
  color: #767676;
}
@media (max-width: 991px) {
  .cid-s0PNLsdUSm .social-media {
    -webkit-justify-content: center;
    justify-content: center;
    padding-right: 15px;
  }
  .cid-s0PNLsdUSm .logo-section {
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 15px;
    margin-bottom: 1.5rem;
  }
  .cid-s0PNLsdUSm .mbr-text {
    margin-bottom: 1.5rem;
  }
}
.cid-siCUI6HXTj .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  color: #8b5214;
  top: 50%;
  font-size: 1rem;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: translateY(-50%) scale(0, 1);
  transform: translateY(-50%) scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-siCUI6HXTj .navbar-buttons {
  flex-wrap: wrap;
}
.cid-siCUI6HXTj .nav-item,
.cid-siCUI6HXTj .nav-link,
.cid-siCUI6HXTj .navbar-caption {
  font-weight: normal;
}
.cid-siCUI6HXTj .nav-item:focus,
.cid-siCUI6HXTj .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-siCUI6HXTj .dropdown-item:hover:before {
    -webkit-transform: translateY(-50%) scale(1, 1);
    transform: translateY(-50%) scale(1, 1);
    width: 1rem;
  }
  .cid-siCUI6HXTj .nav-item .nav-link {
    position: relative;
  }
  .cid-siCUI6HXTj .nav-item .nav-link:before {
    content: '';
    position: absolute;
    z-index: 3;
    left: 0;
    right: 100%;
    bottom: -0.2em;
    background: #8b5214;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .cid-siCUI6HXTj .nav-item:hover .nav-link:before,
  .cid-siCUI6HXTj .nav-item.open .nav-link:before {
    right: 0;
  }
}
.cid-siCUI6HXTj .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.cid-siCUI6HXTj .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-siCUI6HXTj .dropdown .dropdown-menu .dropdown-item:hover {
  padding-right: 1rem;
  padding-left: 3rem;
}
.cid-siCUI6HXTj .dropdown .dropdown-menu .dropdown-item:hover .soc-item .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-siCUI6HXTj .dropdown .dropdown-menu .dropdown-item .soc-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-siCUI6HXTj .dropdown .dropdown-menu .dropdown-item .soc-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-siCUI6HXTj .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #ffffff;
  background: none;
}
.cid-siCUI6HXTj .navbar.opened {
  transition: all 0.3s;
  background: #ffffff !important;
}
.cid-siCUI6HXTj .navbar .dropdown-item {
  padding: 0.235rem 2rem;
}
.cid-siCUI6HXTj .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
@media (max-width: 991px) {
  .cid-siCUI6HXTj .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-siCUI6HXTj .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-siCUI6HXTj .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-siCUI6HXTj .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-siCUI6HXTj .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-siCUI6HXTj .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-siCUI6HXTj .navbar .navbar-logo img {
    height: 3.8rem !important;
    width: auto;
  }
  .cid-siCUI6HXTj .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-siCUI6HXTj .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-siCUI6HXTj .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-siCUI6HXTj .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-siCUI6HXTj .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-siCUI6HXTj .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-siCUI6HXTj .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
  width: auto;
}
.cid-siCUI6HXTj .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-siCUI6HXTj .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-siCUI6HXTj .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-siCUI6HXTj .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-siCUI6HXTj .navbar-brand .navbar-logo a img {
  width: auto;
}
.cid-siCUI6HXTj .dropdown-item.active,
.cid-siCUI6HXTj .dropdown-item:active {
  background-color: transparent;
}
.cid-siCUI6HXTj .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-siCUI6HXTj .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-siCUI6HXTj .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-siCUI6HXTj .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
  z-index: 2;
}
.cid-siCUI6HXTj .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-siCUI6HXTj .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-siCUI6HXTj ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-siCUI6HXTj .navbar-buttons {
  text-align: center;
}
.cid-siCUI6HXTj button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-siCUI6HXTj button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-siCUI6HXTj button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-siCUI6HXTj button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-siCUI6HXTj button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-siCUI6HXTj button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-siCUI6HXTj nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-siCUI6HXTj nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-siCUI6HXTj nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-siCUI6HXTj nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-siCUI6HXTj .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-siCUI6HXTj a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-siCUI6HXTj .soc-item .mbr-iconfont {
  font-size: 1rem;
  color: #7fa8d7;
  display: inline-flex;
}
.cid-siCUI6HXTj .soc-item .mbr-iconfont:before {
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-siCUI6HXTj .soc-item {
  margin: 0.5rem 0.3rem;
}
.cid-siCUI6HXTj .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-siCUI6HXTj a.nav-link .mbr-iconfont-btn,
.cid-siCUI6HXTj a.dropdown-item .mbr-iconfont-btn {
  margin-right: 10px;
}
.cid-siCUI6HXTj a.nav-link:hover .mbr-iconfont-btn,
.cid-siCUI6HXTj a.dropdown-item:hover .mbr-iconfont-btn {
  opacity: 0;
  margin-left: -20px;
}
.cid-siCUI6HXTj a.dropdown-item .mbr-iconfont-btn {
  margin-top: -4px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-siCUI6HXTj .navbar {
    height: 77px;
  }
  .cid-siCUI6HXTj .navbar.opened {
    height: auto;
  }
  .cid-siCUI6HXTj .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
