@import url(https://fonts.googleapis.com/css?family=Fredoka+One:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Questrial:400&display=swap);





.card__btn .btn {
  border-radius: 50px !important;
}
body {
  font-family: DM Sans;
}
.display-1 {
  font-family: 'Fredoka One', display;
  font-size: 3rem;
  line-height: 86px;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Questrial', sans-serif;
  font-size: 1.5rem;
  line-height: 70px;
}
.display-2 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-4 {
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 26px;
}
.display-4 > .mbr-iconfont {
  font-size: 0.8rem;
}
.display-5 {
  font-family: 'Questrial', sans-serif;
  font-size: 1.625rem;
  line-height: 52px;
}
.display-5 > .mbr-iconfont {
  font-size: 2.6rem;
}
.display-7 {
  font-family: 'Questrial', sans-serif;
  font-size: 0.9rem;
  line-height: 32px;
}
.display-7 > .mbr-iconfont {
  font-size: 1.44rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.3rem;
    font-size: calc( 1.21875rem + (1.625 - 1.21875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21875rem + (1.625 - 1.21875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.72rem;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn-md.display-4 {
  font-size: 0.925rem;
}
.btn-lg.display-7 {
  font-size: 0.775rem;
}
.btn {
  padding: 0 30px;
  border-radius: 0;
}
.btn-sm {
  padding: 0 15px;
  border-radius: 0;
}
.btn-md {
  padding: 0 25px;
  border-radius: 0;
}
.btn-lg {
  padding: 0 40px;
  border-radius: 0;
}
.bg-primary {
  background-color: #fb7522 !important;
}
.bg-success {
  background-color: #2ecc71 !important;
}
.bg-info {
  background-color: #482be7 !important;
}
.bg-warning {
  background-color: #919dab !important;
}
.bg-danger {
  background-color: #e93a7d !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #fb7522 !important;
  border-color: #fb7522 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #fb7522;
  border-color: #fb7522;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #fb7522 !important;
  border-color: #fb7522 !important;
}
.btn-primary:hover {
  background-color: #e65a04 !important;
  border-color: #e65a04 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #7fa8d7 !important;
  border-color: #7fa8d7 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #7fa8d7;
  border-color: #7fa8d7;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #7fa8d7 !important;
  border-color: #7fa8d7 !important;
}
.btn-secondary:hover {
  background-color: #588ecb !important;
  border-color: #588ecb !important;
}
.btn-info,
.btn-info:active {
  background-color: #482be7 !important;
  border-color: #482be7 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #482be7;
  border-color: #482be7;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #482be7 !important;
  border-color: #482be7 !important;
}
.btn-info:hover {
  background-color: #3217c8 !important;
  border-color: #3217c8 !important;
}
.btn-success,
.btn-success:active {
  background-color: #2ecc71 !important;
  border-color: #2ecc71 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2ecc71;
  border-color: #2ecc71;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2ecc71 !important;
  border-color: #2ecc71 !important;
}
.btn-success:hover {
  background-color: #25a25a !important;
  border-color: #25a25a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #919dab !important;
  border-color: #919dab !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #919dab;
  border-color: #919dab;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #919dab !important;
  border-color: #919dab !important;
}
.btn-warning:hover {
  background-color: #748395 !important;
  border-color: #748395 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #e93a7d !important;
  border-color: #e93a7d !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #e93a7d;
  border-color: #e93a7d;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #e93a7d !important;
  border-color: #e93a7d !important;
}
.btn-danger:hover {
  background-color: #d81862 !important;
  border-color: #d81862 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white.btn {
  color: #1e0e62 !important;
}
.btn-white:active,
.btn-white:focus {
  color: #1e0e62 !important;
}
.btn-white:hover {
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  color: #1e0e62 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:hover {
  background-color: #4d4d4d !important;
  border-color: #4d4d4d !important;
}
.btn-primary-outline {
  border: 2px solid;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #fb7522;
  color: #fb7522;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff !important;
  background: #fb7522 !important;
  border-color: #fb7522;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #fb7522 !important;
  border-color: #fb7522 !important;
}
.btn-secondary-outline {
  border: 2px solid;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #7fa8d7;
  color: #7fa8d7;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff !important;
  background: #7fa8d7 !important;
  border-color: #7fa8d7;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #7fa8d7 !important;
  border-color: #7fa8d7 !important;
}
.btn-info-outline {
  border: 2px solid;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #482be7;
  color: #482be7;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff !important;
  background: #482be7 !important;
  border-color: #482be7;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #482be7 !important;
  border-color: #482be7 !important;
}
.btn-success-outline {
  border: 2px solid;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #2ecc71;
  color: #2ecc71;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff !important;
  background: #2ecc71 !important;
  border-color: #2ecc71;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #2ecc71 !important;
  border-color: #2ecc71 !important;
}
.btn-warning-outline {
  border: 2px solid;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #919dab;
  color: #919dab;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff !important;
  background: #919dab !important;
  border-color: #919dab;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #919dab !important;
  border-color: #919dab !important;
}
.btn-warning-outline.btn {
  color: #202020 !important;
  border-color: #ebeaed !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:active,
.btn-warning-outline:focus {
  background-color: transparent !important;
  border-color: #919dab !important;
}
.btn-danger-outline {
  border: 2px solid;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #e93a7d;
  color: #e93a7d;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff !important;
  background: #e93a7d !important;
  border-color: #e93a7d;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e93a7d !important;
  border-color: #e93a7d !important;
}
.btn-black-outline {
  border: 2px solid;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff !important;
  background: #333333 !important;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline {
  border: 2px solid;
}
.btn-white-outline,
.btn-white-outline:active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #808080 !important;
  background: #ffffff !important;
  border-color: #ffffff;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.text-primary {
  color: #fb7522 !important;
}
.text-secondary {
  color: #7fa8d7 !important;
}
.text-success {
  color: #2ecc71 !important;
}
.text-info {
  color: #482be7 !important;
}
.text-warning {
  color: #919dab !important;
}
.text-danger {
  color: #e93a7d !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #b44703 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #3974b7 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #1b7943 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #27119b !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #5d6a79 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #aa134d !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #2ecc71;
}
.alert-info {
  background-color: #482be7;
}
.alert-warning {
  background-color: #919dab;
}
.alert-danger {
  background-color: #e93a7d;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 50px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-gallery-filter li a {
  border-radius: 50px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #fb7522;
  border-color: #fb7522;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 50px !important;
}
a,
a:hover {
  color: #fb7522;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fff2ea;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d1f5e0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #e6e2fc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #d9dde2;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdf2f6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Questrial', sans-serif;
  font-size: 0.9rem;
  line-height: 32px;
}
.form-control > .mbr-iconfont {
  font-size: 1.44rem;
}
blockquote {
  border-color: #fb7522;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 50px !important;
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 50px !important;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #fb7522;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #fb7522;
  border-bottom-color: #fb7522;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #fb7522 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #7fa8d7 !important;
  box-shadow: none !important;
}
.sidebar-block .mbr-gallery-item .galleryItem .onsale {
  top: 0px;
}
.sidebar-block .mbr-gallery-item .galleryItem .sidebar_wraper {
  bottom: -35px;
  margin-left: 1rem;
}
.cid-s3npFwi9lv {
  padding-top: 60px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/home-2000x2998.jpg");
}
.cid-s3npFwi9lv .mbr-arrow {
  background: #232323 !important;
  opacity: .7;
}
.cid-s3npFwi9lv .mbr-arrow i {
  color: #ffffff !important;
}
.cid-s3npFwi9lv .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-s3npFwi9lv .animated-element,
.cid-s3npFwi9lv .typed-cursor {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-s3npFwi9lv .typed-text {
    text-align: center;
  }
}
.cid-s3npFwi9lv .mbr-section-title {
  text-align: center;
}
.cid-s3npFwi9lv .mbr-text,
.cid-s3npFwi9lv .typed-text,
.cid-s3npFwi9lv .mbr-section-btn {
  text-align: center;
}
.cid-rZLE9pr74T {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rZLE9pr74T .mbr-iconfont {
  font-size: 50px;
  transition: color .3s;
  padding: 1.5rem;
}
.cid-rZLE9pr74T .mbr-section-title {
  margin: 0;
}
.cid-rZLE9pr74T .mbr-section-subtitle {
  color: #000000;
}
.cid-rZLE9pr74T .card-img span {
  color: #ffffff;
}
.cid-rZLE9pr74T .row-item {
  margin-bottom: 2rem;
}
.cid-rZLE9pr74T .row-item:hover .wrapper {
  background: linear-gradient(90deg, #363636, #363636);
  cursor: pointer;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  transition: all 0.3s;
}
.cid-rZLE9pr74T .row-item:hover .card-img span {
  color: #ffffff !important;
}
.cid-rZLE9pr74T .row-item:hover .mbr-card-title {
  color: #ffffff !important;
}
.cid-rZLE9pr74T .wrapper {
  padding: 2.5rem 1rem;
  background: #131313;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
.cid-rZLE9pr74T .mbr-card-title,
.cid-rZLE9pr74T .card-img {
  color: #ffffff;
}
.cid-s1hnF0jNzB.popup-builder {
  background-color: #ffffff;
}
.cid-s1hnF0jNzB.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-s1hnF0jNzB.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-s1hnF0jNzB .modal-content,
.cid-s1hnF0jNzB .modal-dialog {
  height: auto;
}
.cid-s1hnF0jNzB .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-s1hnF0jNzB .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-s1hnF0jNzB .form-wrapper .mbr-form .form-group,
  .cid-s1hnF0jNzB .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-s1hnF0jNzB .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-s1hnF0jNzB .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s1hnF0jNzB .mbr-text {
  text-align: center;
}
.cid-s1hnF0jNzB .pt-0 {
  padding-top: 0 !important;
}
.cid-s1hnF0jNzB .pb-0 {
  padding-bottom: 0 !important;
}
.cid-s1hnF0jNzB .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-s1hnF0jNzB .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-s1hnF0jNzB .modal-open {
  overflow: hidden;
}
.cid-s1hnF0jNzB .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-s1hnF0jNzB .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-s1hnF0jNzB .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-s1hnF0jNzB .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-s1hnF0jNzB .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-s1hnF0jNzB .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-s1hnF0jNzB .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-s1hnF0jNzB .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-s1hnF0jNzB .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-s1hnF0jNzB .modal-backdrop.fade {
  opacity: 0;
}
.cid-s1hnF0jNzB .modal-backdrop.show {
  opacity: .5;
}
.cid-s1hnF0jNzB .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
}
.cid-s1hnF0jNzB .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-s1hnF0jNzB .modal-header .close:hover {
  opacity: 1;
}
.cid-s1hnF0jNzB .modal-header .close:focus {
  outline: none;
}
.cid-s1hnF0jNzB .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-s1hnF0jNzB .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 100%;
}
.cid-s1hnF0jNzB .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  text-align: center;
}
.cid-s1hnF0jNzB .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-s1hnF0jNzB .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-s1hnF0jNzB .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-s1hnF0jNzB .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-s1hnF0jNzB .modal-sm {
    max-width: 300px;
  }
  .cid-s1hnF0jNzB .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-s1hnF0jNzB .modal-lg,
  .cid-s1hnF0jNzB .modal-xl {
    max-width: 800px;
  }
  .cid-s1hnF0jNzB .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-s1hnF0jNzB .modal-xl {
    max-width: 1140px;
  }
  .cid-s1hnF0jNzB .container {
    max-width: 1140px;
  }
}
.cid-s1hnF0jNzB .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-s1hnF0jNzB .container {
    max-width: 720px;
  }
}
.cid-s1hnF0jNzB .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-s1hnF0jNzB .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-s1hnF0jNzB .form-group {
  margin-bottom: 1rem;
}
.cid-s1hnF0jNzB .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-s1hnF0jNzB .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-s1hnF0jNzB .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-s0PNLsdUSm {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-s0PNLsdUSm .social-media {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 4rem;
}
.cid-s0PNLsdUSm .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-s0PNLsdUSm .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-s0PNLsdUSm .logo-section {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 4rem;
}
.cid-s0PNLsdUSm .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.8rem;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  background-color: #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-s0PNLsdUSm .icon-transition span:hover {
  background-color: #606060;
}
.cid-s0PNLsdUSm .mbr-text {
  color: #767676;
}
@media (max-width: 991px) {
  .cid-s0PNLsdUSm .social-media {
    -webkit-justify-content: center;
    justify-content: center;
    padding-right: 15px;
  }
  .cid-s0PNLsdUSm .logo-section {
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 15px;
    margin-bottom: 1.5rem;
  }
  .cid-s0PNLsdUSm .mbr-text {
    margin-bottom: 1.5rem;
  }
}
.cid-s3ne4cxXe6 .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #232323;
  background: none;
}
.cid-s3ne4cxXe6 .navbar.opened {
  transition: all .3s;
  background: #232323 !important;
}
.cid-s3ne4cxXe6 .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-s3ne4cxXe6 .navbar .navbar-buttons {
  flex-wrap: wrap;
}
.cid-s3ne4cxXe6 .navbar .navbar-collapse {
  transition: none;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-s3ne4cxXe6 .navbar.collapsed {
  flex-wrap: nowrap;
}
.cid-s3ne4cxXe6 .navbar.collapsed.opened {
  text-align: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  max-width: 20rem ;
  height: 100vh;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-s3ne4cxXe6 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-s3ne4cxXe6 .navbar.collapsed.opened .navbar-toggler {
  -webkit-order: -1;
  order: -1;
  -webkit-align-self: flex-end !important;
  align-self: flex-end !important;
  margin: 1rem 0 0 0;
}
.cid-s3ne4cxXe6 .navbar.collapsed.opened .navbar-collapse {
  -webkit-flex-basis: initial;
  flex-basis: initial;
}
.cid-s3ne4cxXe6 .navbar.collapsed.opened .navbar-collapse.show,
.cid-s3ne4cxXe6 .navbar.collapsed.opened .navbar-collapse.collapsing {
  display: block;
}
.cid-s3ne4cxXe6 .navbar.collapsed:not(.opened) {
  flex-direction: row !important;
}
.cid-s3ne4cxXe6 .navbar.collapsed:not(.opened) .navbar-collapse {
  display: none !important;
}
.cid-s3ne4cxXe6 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-s3ne4cxXe6 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s3ne4cxXe6 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s3ne4cxXe6 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s3ne4cxXe6 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s3ne4cxXe6 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-s3ne4cxXe6 .navbar {
    flex-wrap: nowrap;
  }
  .cid-s3ne4cxXe6 .navbar.opened {
    text-align: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
    max-width: 20rem ;
    height: 100vh;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .cid-s3ne4cxXe6 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s3ne4cxXe6 .navbar.opened .navbar-toggler {
    -webkit-order: -1;
    order: -1;
    -webkit-align-self: flex-end !important;
    align-self: flex-end !important;
    margin: 1rem 0 0 0;
  }
  .cid-s3ne4cxXe6 .navbar.opened .navbar-collapse {
    -webkit-flex-basis: initial;
    flex-basis: initial;
    height: auto !important;
    max-height: 100vh;
  }
  .cid-s3ne4cxXe6 .navbar.opened .navbar-collapse.show,
  .cid-s3ne4cxXe6 .navbar.opened .navbar-collapse.collapsing {
    display: block;
  }
  .cid-s3ne4cxXe6 .navbar:not(.opened) .navbar-collapse {
    display: none !important;
  }
  .cid-s3ne4cxXe6 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-s3ne4cxXe6 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s3ne4cxXe6 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s3ne4cxXe6 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s3ne4cxXe6 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s3ne4cxXe6 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s3ne4cxXe6 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-s3ne4cxXe6 .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    word-break: break-word;
  }
}
.cid-s3ne4cxXe6 .navbar.navbar-short {
  background: #232323 !important;
  min-height: 60px;
}
.cid-s3ne4cxXe6 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s3ne4cxXe6 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s3ne4cxXe6 .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s3ne4cxXe6 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s3ne4cxXe6 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s3ne4cxXe6 .dropdown-item.active,
.cid-s3ne4cxXe6 .dropdown-item:active {
  background-color: transparent;
}
.cid-s3ne4cxXe6 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s3ne4cxXe6 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s3ne4cxXe6 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s3ne4cxXe6 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-s3ne4cxXe6 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s3ne4cxXe6 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s3ne4cxXe6 ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s3ne4cxXe6 .navbar-buttons {
  text-align: center;
}
.cid-s3ne4cxXe6 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s3ne4cxXe6 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-s3ne4cxXe6 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s3ne4cxXe6 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s3ne4cxXe6 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s3ne4cxXe6 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s3ne4cxXe6 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s3ne4cxXe6 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s3ne4cxXe6 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s3ne4cxXe6 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s3ne4cxXe6 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s3ne4cxXe6 a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  letter-spacing: 2px;
}
.cid-s3ne4cxXe6 a.nav-link:focus {
  outline: none;
}
.cid-s3ne4cxXe6 .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s3ne4cxXe6 .nav-link:hover,
.cid-s3ne4cxXe6 .dropdown-item:hover {
  color: #c1c1c1 !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s3ne4cxXe6 .navbar-dropdown.collapsed.opened {
    left: auto;
  }
  .cid-s3ne4cxXe6 .navbar-dropdown.collapsed.opened .navbar-collapse {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.cid-s3ne4cxXe6 .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #232323;
  background: none;
}
.cid-s3ne4cxXe6 .navbar.opened {
  transition: all .3s;
  background: #232323 !important;
}
.cid-s3ne4cxXe6 .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-s3ne4cxXe6 .navbar .navbar-buttons {
  flex-wrap: wrap;
}
.cid-s3ne4cxXe6 .navbar .navbar-collapse {
  transition: none;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-s3ne4cxXe6 .navbar.collapsed {
  flex-wrap: nowrap;
}
.cid-s3ne4cxXe6 .navbar.collapsed.opened {
  text-align: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  max-width: 20rem ;
  height: 100vh;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-s3ne4cxXe6 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-s3ne4cxXe6 .navbar.collapsed.opened .navbar-toggler {
  -webkit-order: -1;
  order: -1;
  -webkit-align-self: flex-end !important;
  align-self: flex-end !important;
  margin: 1rem 0 0 0;
}
.cid-s3ne4cxXe6 .navbar.collapsed.opened .navbar-collapse {
  -webkit-flex-basis: initial;
  flex-basis: initial;
}
.cid-s3ne4cxXe6 .navbar.collapsed.opened .navbar-collapse.show,
.cid-s3ne4cxXe6 .navbar.collapsed.opened .navbar-collapse.collapsing {
  display: block;
}
.cid-s3ne4cxXe6 .navbar.collapsed:not(.opened) {
  flex-direction: row !important;
}
.cid-s3ne4cxXe6 .navbar.collapsed:not(.opened) .navbar-collapse {
  display: none !important;
}
.cid-s3ne4cxXe6 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-s3ne4cxXe6 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s3ne4cxXe6 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s3ne4cxXe6 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s3ne4cxXe6 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s3ne4cxXe6 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-s3ne4cxXe6 .navbar {
    flex-wrap: nowrap;
  }
  .cid-s3ne4cxXe6 .navbar.opened {
    text-align: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
    max-width: 20rem ;
    height: 100vh;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .cid-s3ne4cxXe6 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s3ne4cxXe6 .navbar.opened .navbar-toggler {
    -webkit-order: -1;
    order: -1;
    -webkit-align-self: flex-end !important;
    align-self: flex-end !important;
    margin: 1rem 0 0 0;
  }
  .cid-s3ne4cxXe6 .navbar.opened .navbar-collapse {
    -webkit-flex-basis: initial;
    flex-basis: initial;
    height: auto !important;
    max-height: 100vh;
  }
  .cid-s3ne4cxXe6 .navbar.opened .navbar-collapse.show,
  .cid-s3ne4cxXe6 .navbar.opened .navbar-collapse.collapsing {
    display: block;
  }
  .cid-s3ne4cxXe6 .navbar:not(.opened) .navbar-collapse {
    display: none !important;
  }
  .cid-s3ne4cxXe6 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-s3ne4cxXe6 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s3ne4cxXe6 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s3ne4cxXe6 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s3ne4cxXe6 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s3ne4cxXe6 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s3ne4cxXe6 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-s3ne4cxXe6 .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    word-break: break-word;
  }
}
.cid-s3ne4cxXe6 .navbar.navbar-short {
  background: #232323 !important;
  min-height: 60px;
}
.cid-s3ne4cxXe6 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s3ne4cxXe6 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s3ne4cxXe6 .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s3ne4cxXe6 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s3ne4cxXe6 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s3ne4cxXe6 .dropdown-item.active,
.cid-s3ne4cxXe6 .dropdown-item:active {
  background-color: transparent;
}
.cid-s3ne4cxXe6 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s3ne4cxXe6 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s3ne4cxXe6 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s3ne4cxXe6 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-s3ne4cxXe6 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s3ne4cxXe6 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s3ne4cxXe6 ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s3ne4cxXe6 .navbar-buttons {
  text-align: center;
}
.cid-s3ne4cxXe6 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s3ne4cxXe6 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-s3ne4cxXe6 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s3ne4cxXe6 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s3ne4cxXe6 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s3ne4cxXe6 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s3ne4cxXe6 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s3ne4cxXe6 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s3ne4cxXe6 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s3ne4cxXe6 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s3ne4cxXe6 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s3ne4cxXe6 a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  letter-spacing: 2px;
}
.cid-s3ne4cxXe6 a.nav-link:focus {
  outline: none;
}
.cid-s3ne4cxXe6 .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s3ne4cxXe6 .nav-link:hover,
.cid-s3ne4cxXe6 .dropdown-item:hover {
  color: #c1c1c1 !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s3ne4cxXe6 .navbar-dropdown.collapsed.opened {
    left: auto;
  }
  .cid-s3ne4cxXe6 .navbar-dropdown.collapsed.opened .navbar-collapse {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.cid-s0YkwDdBdT {
  padding-top: 60px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/home-2000x2998.jpg");
}
.cid-s0YkwDdBdT .mbr-arrow {
  background: #232323 !important;
  opacity: .7;
}
.cid-s0YkwDdBdT .mbr-arrow i {
  color: #ffffff !important;
}
.cid-s0YkwDdBdT .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-s0YkwDdBdT .animated-element,
.cid-s0YkwDdBdT .typed-cursor {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-s0YkwDdBdT .typed-text {
    text-align: center;
  }
}
.cid-s0YkwDdBdT .mbr-section-title {
  text-align: center;
}
.cid-s0YkwDdBdT .mbr-text,
.cid-s0YkwDdBdT .typed-text,
.cid-s0YkwDdBdT .mbr-section-btn {
  text-align: center;
}
#custom-html-f {
  /* Type valid CSS here */
}
#custom-html-f div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-f p {
  font-size: 60px;
  color: #777;
}
.cid-s13WHB4iUA {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s13WHB4iUA .mbr-arrow {
  background: #232323 !important;
  opacity: .7;
}
.cid-s13WHB4iUA .mbr-arrow i {
  color: #ffffff !important;
}
.cid-s13WHB4iUA .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-s13WHB4iUA .animated-element,
.cid-s13WHB4iUA .typed-cursor {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-s13WHB4iUA .typed-text {
    text-align: center;
  }
}
.cid-s13WHB4iUA .mbr-section-title {
  text-align: center;
}
.cid-s13WHB4iUA .mbr-text,
.cid-s13WHB4iUA .typed-text,
.cid-s13WHB4iUA .mbr-section-btn {
  text-align: center;
}
.cid-s1aoeh97BU.popup-builder {
  background-color: #ffffff;
}
.cid-s1aoeh97BU.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-s1aoeh97BU.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-s1aoeh97BU .modal-content,
.cid-s1aoeh97BU .modal-dialog {
  height: auto;
}
.cid-s1aoeh97BU .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-s1aoeh97BU .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-s1aoeh97BU .form-wrapper .mbr-form .form-group,
  .cid-s1aoeh97BU .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-s1aoeh97BU .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-s1aoeh97BU .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s1aoeh97BU .mbr-text {
  text-align: center;
}
.cid-s1aoeh97BU .pt-0 {
  padding-top: 0 !important;
}
.cid-s1aoeh97BU .pb-0 {
  padding-bottom: 0 !important;
}
.cid-s1aoeh97BU .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-s1aoeh97BU .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-s1aoeh97BU .modal-open {
  overflow: hidden;
}
.cid-s1aoeh97BU .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-s1aoeh97BU .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-s1aoeh97BU .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-s1aoeh97BU .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-s1aoeh97BU .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-s1aoeh97BU .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-s1aoeh97BU .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-s1aoeh97BU .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-s1aoeh97BU .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-s1aoeh97BU .modal-backdrop.fade {
  opacity: 0;
}
.cid-s1aoeh97BU .modal-backdrop.show {
  opacity: .5;
}
.cid-s1aoeh97BU .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
}
.cid-s1aoeh97BU .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-s1aoeh97BU .modal-header .close:hover {
  opacity: 1;
}
.cid-s1aoeh97BU .modal-header .close:focus {
  outline: none;
}
.cid-s1aoeh97BU .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-s1aoeh97BU .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 100%;
}
.cid-s1aoeh97BU .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  text-align: center;
}
.cid-s1aoeh97BU .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-s1aoeh97BU .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-s1aoeh97BU .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-s1aoeh97BU .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-s1aoeh97BU .modal-sm {
    max-width: 300px;
  }
  .cid-s1aoeh97BU .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-s1aoeh97BU .modal-lg,
  .cid-s1aoeh97BU .modal-xl {
    max-width: 800px;
  }
  .cid-s1aoeh97BU .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-s1aoeh97BU .modal-xl {
    max-width: 1140px;
  }
  .cid-s1aoeh97BU .container {
    max-width: 1140px;
  }
}
.cid-s1aoeh97BU .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-s1aoeh97BU .container {
    max-width: 720px;
  }
}
.cid-s1aoeh97BU .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-s1aoeh97BU .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-s1aoeh97BU .form-group {
  margin-bottom: 1rem;
}
.cid-s1aoeh97BU .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-s1aoeh97BU .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-s1aoeh97BU .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-s0VxdKfajA {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-s0VxdKfajA .mbr-text {
  position: relative;
}
.cid-s0VxdKfajA .mbr-text:before {
  color: #333333;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
  position: absolute;
  top: 10px;
  left: -2rem;
}
.cid-s0VxdKfajA .mbr-text:after {
  color: #333333;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.45em;
  position: absolute;
  bottom: 10px;
  right: -2rem;
}
@media (max-width: 767px) {
  .cid-s0VxdKfajA .mbr-text:after,
  .cid-s0VxdKfajA .mbr-text:before {
    display: none;
  }
}
.cid-s0PNLsdUSm {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-s0PNLsdUSm .social-media {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 4rem;
}
.cid-s0PNLsdUSm .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-s0PNLsdUSm .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-s0PNLsdUSm .logo-section {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 4rem;
}
.cid-s0PNLsdUSm .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.8rem;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  background-color: #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-s0PNLsdUSm .icon-transition span:hover {
  background-color: #606060;
}
.cid-s0PNLsdUSm .mbr-text {
  color: #767676;
}
@media (max-width: 991px) {
  .cid-s0PNLsdUSm .social-media {
    -webkit-justify-content: center;
    justify-content: center;
    padding-right: 15px;
  }
  .cid-s0PNLsdUSm .logo-section {
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 15px;
    margin-bottom: 1.5rem;
  }
  .cid-s0PNLsdUSm .mbr-text {
    margin-bottom: 1.5rem;
  }
}
.cid-s0PNLsdUSm {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-s0PNLsdUSm .social-media {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 4rem;
}
.cid-s0PNLsdUSm .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-s0PNLsdUSm .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-s0PNLsdUSm .logo-section {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 4rem;
}
.cid-s0PNLsdUSm .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.8rem;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  background-color: #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-s0PNLsdUSm .icon-transition span:hover {
  background-color: #606060;
}
.cid-s0PNLsdUSm .mbr-text {
  color: #767676;
}
@media (max-width: 991px) {
  .cid-s0PNLsdUSm .social-media {
    -webkit-justify-content: center;
    justify-content: center;
    padding-right: 15px;
  }
  .cid-s0PNLsdUSm .logo-section {
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 15px;
    margin-bottom: 1.5rem;
  }
  .cid-s0PNLsdUSm .mbr-text {
    margin-bottom: 1.5rem;
  }
}
.cid-s3ne4cxXe6 .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #232323;
  background: none;
}
.cid-s3ne4cxXe6 .navbar.opened {
  transition: all .3s;
  background: #232323 !important;
}
.cid-s3ne4cxXe6 .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-s3ne4cxXe6 .navbar .navbar-buttons {
  flex-wrap: wrap;
}
.cid-s3ne4cxXe6 .navbar .navbar-collapse {
  transition: none;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-s3ne4cxXe6 .navbar.collapsed {
  flex-wrap: nowrap;
}
.cid-s3ne4cxXe6 .navbar.collapsed.opened {
  text-align: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  max-width: 20rem ;
  height: 100vh;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-s3ne4cxXe6 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-s3ne4cxXe6 .navbar.collapsed.opened .navbar-toggler {
  -webkit-order: -1;
  order: -1;
  -webkit-align-self: flex-end !important;
  align-self: flex-end !important;
  margin: 1rem 0 0 0;
}
.cid-s3ne4cxXe6 .navbar.collapsed.opened .navbar-collapse {
  -webkit-flex-basis: initial;
  flex-basis: initial;
}
.cid-s3ne4cxXe6 .navbar.collapsed.opened .navbar-collapse.show,
.cid-s3ne4cxXe6 .navbar.collapsed.opened .navbar-collapse.collapsing {
  display: block;
}
.cid-s3ne4cxXe6 .navbar.collapsed:not(.opened) {
  flex-direction: row !important;
}
.cid-s3ne4cxXe6 .navbar.collapsed:not(.opened) .navbar-collapse {
  display: none !important;
}
.cid-s3ne4cxXe6 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-s3ne4cxXe6 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s3ne4cxXe6 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s3ne4cxXe6 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s3ne4cxXe6 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s3ne4cxXe6 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-s3ne4cxXe6 .navbar {
    flex-wrap: nowrap;
  }
  .cid-s3ne4cxXe6 .navbar.opened {
    text-align: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
    max-width: 20rem ;
    height: 100vh;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .cid-s3ne4cxXe6 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s3ne4cxXe6 .navbar.opened .navbar-toggler {
    -webkit-order: -1;
    order: -1;
    -webkit-align-self: flex-end !important;
    align-self: flex-end !important;
    margin: 1rem 0 0 0;
  }
  .cid-s3ne4cxXe6 .navbar.opened .navbar-collapse {
    -webkit-flex-basis: initial;
    flex-basis: initial;
    height: auto !important;
    max-height: 100vh;
  }
  .cid-s3ne4cxXe6 .navbar.opened .navbar-collapse.show,
  .cid-s3ne4cxXe6 .navbar.opened .navbar-collapse.collapsing {
    display: block;
  }
  .cid-s3ne4cxXe6 .navbar:not(.opened) .navbar-collapse {
    display: none !important;
  }
  .cid-s3ne4cxXe6 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-s3ne4cxXe6 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s3ne4cxXe6 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s3ne4cxXe6 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s3ne4cxXe6 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s3ne4cxXe6 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s3ne4cxXe6 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-s3ne4cxXe6 .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    word-break: break-word;
  }
}
.cid-s3ne4cxXe6 .navbar.navbar-short {
  background: #232323 !important;
  min-height: 60px;
}
.cid-s3ne4cxXe6 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s3ne4cxXe6 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s3ne4cxXe6 .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s3ne4cxXe6 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s3ne4cxXe6 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s3ne4cxXe6 .dropdown-item.active,
.cid-s3ne4cxXe6 .dropdown-item:active {
  background-color: transparent;
}
.cid-s3ne4cxXe6 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s3ne4cxXe6 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s3ne4cxXe6 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s3ne4cxXe6 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-s3ne4cxXe6 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s3ne4cxXe6 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s3ne4cxXe6 ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s3ne4cxXe6 .navbar-buttons {
  text-align: center;
}
.cid-s3ne4cxXe6 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s3ne4cxXe6 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-s3ne4cxXe6 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s3ne4cxXe6 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s3ne4cxXe6 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s3ne4cxXe6 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s3ne4cxXe6 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s3ne4cxXe6 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s3ne4cxXe6 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s3ne4cxXe6 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s3ne4cxXe6 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s3ne4cxXe6 a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  letter-spacing: 2px;
}
.cid-s3ne4cxXe6 a.nav-link:focus {
  outline: none;
}
.cid-s3ne4cxXe6 .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s3ne4cxXe6 .nav-link:hover,
.cid-s3ne4cxXe6 .dropdown-item:hover {
  color: #c1c1c1 !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s3ne4cxXe6 .navbar-dropdown.collapsed.opened {
    left: auto;
  }
  .cid-s3ne4cxXe6 .navbar-dropdown.collapsed.opened .navbar-collapse {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
